.navbar-fixed-top
{
    font-family: EuclidFlexMed;
    letter-spacing: 0.12em;
    text-align: center;
    font-size: 10.5px;
    position: sticky;
}
.navbar-fixed-top a span { 
    line-height: 30px;
}
.navbar-fixed-top :hover
{
text-decoration: none;
}

.navbar-default{
    line-height: 30px;
}
 .newsimg{
     height: 40px;
     width: 100%;

 }
 .loginb{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
 }

 #menu1{
     margin-left: 20px;
     margin-top: 6px;
 }
 .drop{
     margin-left: 30px;
 }