<div class="row navbar-fixed-top">
  <div class="col-sm-6" style="background-color: #6E99B9">
    <a target="_blank" href="https://www.news24.com/"><span style="text-decoration: none;color: white">NEWS 24 |</span> <span style="text-decoration: underline;color: white">UPDATED NEWS</span></a>
  </div>
  <div class="col-sm-6" style="background-color: #282b30">
    <a target="_blank" href="https://aajtak.intoday.in/"><span style="text-decoration: none;color: white">AAJ TAK |</span> <span style="text-decoration: underline;color: white">NEWS IN HINDI</span></a>
  </div>
</div>
<nav class="navbar-fixed-top navbar-default">
  <div class="row">
    <div class="col-sm-2">
      <img class="newsimg" src="assets/icon.jpg" alt="logo">
    </div>

    <div class="col-sm-1">

      <a target="_blank" href="/"><span ><b>| Home |</b></span></a>
  
    </div>
    <div class="col-sm-1">

      <a target="_blank" href="https://www.olx.co.za/"><span ><b>| OLX |</b></span></a>
  
    </div>
    <div class="col-sm-1">

      <a target="_blank" href="https://www.careers24.com/"><span ><b>| CAREER |</b></span></a>
  
    </div>
    <div class="col-sm-1">

      <a target="_blank" href="https://www.property24.com/"><span ><b>| PROPERTY |</b></span></a>
  
    </div>
    <div class="col-sm-1">

      <a target="_blank" href="https://superbalist.com/"><span ><b>| SHOPPING |</b></span></a>
  
    </div>
    <div class="col-sm-1">

      <a target="_blank" href="https://www.autotrader.co.za/"><span ><b>| CAR SALE |</b></span></a>
  
    </div>
    <div class="col-sm-1 ">
    </div>
    <div class="col-sm-1">

      <button class="loginb" target="_blank" href="https://www.autotrader.co.za/"><span >LOGIN</span></button>
  
    </div>
    <div class="col-sm-1">

      <button class="loginb" target="_blank" href="https://www.autotrader.co.za/"><span >REGISTER</span></button>
  
    </div>
  </div>




</nav>
