<div class="footer-color-change bottom-contact clearfix">
    <div class="container-small">
        <ul class="social-icons desktop-right">
          <div class="col-sm-6"><a href="#" title="View my Work" class="desktop-left">Select Category</a></div>
          <div class="col-sm-2"><a href="https://twitter.com/pranjalchamola" title="Follow me on twitter" target="_blank" class="hvr-back-pulse"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
          <div class="col-sm-2"><a href="https://www.pinterest.com/" title="Follow on Pinterest" target="_blank" class="hvr-back-pulse"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></div>
          <div class="col-sm-2"><a href="https://www.instagram.com/" title="Follow me on Instagram" target="_blank" class="hvr-back-pulse"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
       </ul>                 
     </div>
  </div>