<!-- <div class="content_div">
    <div *ngFor="let product of hasData">
    <a href="/">
      <div class="product_div" id="{{product.}}">
        <img src="{{product.img}}" class="img_style">
        <div class="product_details_box">
          <div class="product_details">Color: {{product.color}}</div>
        </div>
      </div>
    </a>
    </div>
  </div> -->
  <app-sidebar class="col-sm-2"></app-sidebar>
<app-heroimg class="col-sm-10"></app-heroimg>
<div class="card2"></div>
<div>
  
    <div  (click)="onSelect(arr)" class="cards" *ngFor="let arr of hasData?.News">

      <div class="row ">
        <div class="col-sm-4 jsonimg">
          <img src="{{arr?.image}}" alt="">
        </div>
        <div class="col-sm-8">
          <b> {{arr?.header}} {{arr?.id}} </b>
        </div>
      </div>
      </div>
  
</div>