<app-header></app-header>
<app-heroimg></app-heroimg>



<div class="cards" *ngFor="let arr of filternews">

  <div class="row ">
    <div class="col-sm-4">


      <img onmouseover="" style="cursor: pointer;" (click)="onSelect(arr)" (click)="onSelect(arr)" class="cardi"
        src="{{arr?.image}}" alt="">
      <hr>
    </div>
    <div class="col-sm-8">
      <div onmouseover="" style="cursor: pointer;" (click)="onSelect(arr)"> <b> {{arr?.header}} </b>
      </div>
      <div class="like-content">
        <button class="btn-secondary like-review">
          <i class="fa fa-heart" aria-hidden="true"></i> Like
        </button>
        <br>
        <hr>

      </div>

</div>
</div>
</div>
<app-footer></app-footer>