<div class="wapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>CATA</h3>
    </div>
    <ul class="list-unstyled components">
      <p>asdasd</p>
      <li class="active">
        <a href="#homesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HOME</a>
      <ul class="collapse list-unstyled" id="homesubmenu">
        <li>
          <a href="#">hoome</a>
        </li>
        <li>
          <a href="#">hoome</a>
        </li>
        <li>
          <a href="#">hoome</a>
        </li>
      </ul> 
      </li>
      <li>
        <a href="#">abou</a>
      </li>
      <li>
        <a href="#pagesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HOME</a>
      <ul class="collapse list-unstyled" id="pagesubmenu">
        <li>
          <a href="#">hoome</a>
        </li>
        <li>
          <a href="#">hoome</a>
        </li>
        <li>
          <a href="#">hoome</a>
        </li>
      </ul> 
      </li>
      <li>
        <a href="#">abou</a>
      </li><li>
        <a href="#">abou</a>
      </li>
    </ul>
    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="download">hoome</a>
      </li>
    </ul>
  </nav>
</div>