<!-- <div><button class="w3-button w3-teal w3-xlarge" onclick="document.getElementById('hiding').style.display='block'">☰</button></div>
<div id=hiding>
<div class="wapper">
    
  <nav id="sidebar" style="display: block">
    <div class="sidebar-header">
        <div><button class="sidego" onclick="document.getElementById('hiding').style.display='none'">X</button></div>
      <h3>Category</h3>
    </div>
    <ul class="list-unstyled components">
      <p></p>
      <li class="active">
        <a href="#homesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HOME</a>
      
      </li>
      <li>
          <a href="#">Politics</a>
        </li>
        <li>
          <a href="#">Sports</a>
        </li>
      <li>
        <a href="#">Entertainment</a>
      </li>
      <li>
        <a href="#pagesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HOME</a>
      <ul class="collapse list-unstyled" id="pagesubmenu">
        <li>
          <a href="#">Lifestyle</a>
        </li>
        <li>
          <a href="#">Business</a>
        </li>
        <li>
          <a href="#">Tech</a>
        </li>
      </ul> 
      </li>
      <li>
        <a href="#">Food</a>
      </li><li>
        <a href="#">International</a>
      </li>
      <li>
        <a href="#" class="download">Finance</a>
      </li>

        <li>
          <a href="#" class="download">Religion</a>
        </li>
      </ul>
  </nav>
</div>
</div> -->